{% extends 'base.html' %}

{% block title %}
Добоавление новости :: {{ block.super }}
{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}

<div>
    <h1>Добавление новости</h1>

    <form action="{% url 'add_news' %}" method="post">

        {% csrf_token %}
        <!--    {{ form.as_p }}-->


        {{ form.non_field.errors }}
        <div class="form-group">
            <label for="{{ form.title.id_for_lable }}">Название:</label>
            {{ form.title }}
            <div class="invalia-feedback">
                {{ form.title.errors }}
            </div>
        </div>

        <div class="form-group">
            <label for="{{ form.content.id_for_lable }}">Текст:</label>
            {{ form.content }}
            <div class="invalia-feedback">
                {{ form.content.errors }}
            </div>
        </div>

        <div class="form-group">
            <label for="{{ form.is_published.id_for_lable }}">Опубликовано?:</label>
            {{ form.is_published }}
            <div class="invalia-feedback">
                {{ form.is_published.errors }}
            </div>
        </div>

        <div class="form-group">
            <label for="{{ form.category.id_for_lable }}">Выбрать категорию:</label>
            {{ form.category }}
            <div class="invalia-feedback">
                {{ form.category.errors }}
            </div>
        </div>


        <button type="submit" class="btn btn-primary btn-block">Добавить новость</button>
    </form>

</div>

{% endblock %}
